<div class="landingContent">
  <div class="contentLeft">
    <!-- <img class="blob-left" src="assets/img/Mask Group 1.png" alt="" /> -->
    <h1>Hi, my name is</h1>
    <h2>Jorge Berroa</h2>
    <h3>I build things for the web</h3>
    <div>
      <p>
        I'm a software engineer based in Orlando, FL specializing in developing
        exceptional, high-quality websites and applications. Currently working
        at
        <a target="_blank" rel="nofollow noopener noreferrer" class="">Hytec</a>
        as an Engineer.
      </p>
    </div>
  </div>
  <div class="contentRight">
    <img src="assets/img/programmer2.png" alt="" />
  </div>
</div>
